<template>
    <div class="city_search">
        <input placeholder="Search..." v-model="newCity" @keyup.enter="loadWeather" class="input" >
        <button @click="loadWeather"><font-awesome-icon :icon="['fas', 'search']" :style="{color: '#153B50'}" /></button>
    </div>
</template>

<script>
export default {
  name: "CitySearch",
  data() {
    return {
      newCity: "",
      currentPlace:null
    };
  },
  methods: {
    loadWeather() {
      if (this.newCity.trim().length != 0) {
        this.$store.dispatch("postWeather", this.newCity);
        this.newCity = "";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
    .city_search{
      display: flex;
      width:260px;
      justify-content: space-evenly;
      align-items: center;
      button{
        height: 40px;
        outline: none;
        border-left: none;
        border-top: 1px solid silver;
        border-bottom: 1px solid silver;
        border-right: 1px solid silver;
        padding: 12px;
        cursor: pointer;
        background: transparent;
      }
    }
    .input{
      height: 30px;
      background-color: transparent;
      outline: none;
      border: 1px solid silver;
      width: 210px;
      padding: 4px 10px;
      color: #153B50;
    }
    .input::placeholder{
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      color: #153B50;
    }
    .city_search button{
      height: 40px;
      outline: none;
      border-left: none;
      border-top: 1px solid silver;
      border-bottom: 1px solid silver;
      border-right: 1px solid silver;
      padding: 12px;
      cursor: pointer;
      background: transparent;
    }
    @media screen and (max-width: 480px) {
      .input {
        color: #d1d1d1;
      }
    }
</style>