<template>
    <div class="list_cont">
        <p class="title">Your cities list:</p>
        <p class="puls" v-if="cities.length==0"> Please, add city in list </p> 
        <ul v-for="city in cities"> 
            <li><button class="city" @click="searchCity(city)">{{city}}</button><button @click="removeCity(city)">Delete</button></li>
        </ul>
    </div>
</template>

<script>
import {mapMutations, mapActions, mapGetters } from 'vuex';
export default {
    computed: {
        ...mapGetters({
            cities:'cities'
        })
    },
    methods: {
        ...mapMutations({
            removeCity:'removeCity'
        }),
        ...mapActions({
            searchCity: 'getWeather',
        })
    }
}
</script>

<style lang="scss" scoped>
    .title{
        text-align: center;
        color: #153B50;
        font-size: 24px;
        font-weight: 600;
    }
    .puls {
        font-size: 20px;
        color: #153B50;
        -webkit-animation: pulsing 2s infinite;
        animation: pulsing 3s infinite;
        font-weight: 600;
    }
    @-webkit-keyframes pulsing {
        0% {
            -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8)
        }
        50% {
            -webkit-transform: scale(1.0, 1.0);
            transform: scale(1.0, 1.0);
        }
        100% {
            -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
        }
    }

    @keyframes pulsing {
        0% {
            -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8)
        }
        50% {
            -webkit-transform: scale(1.0, 1.0);
            transform: scale(1.0, 1.0);
        }
        100% {
            -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
        }
    }   
    .list_cont ul{
        font-size: 20px;
        color: #153B50;
        font-weight: 600;
        padding: 0px;
        text-align: center;
        li{
            list-style: none;
            .city{
                text-decoration: none;
                color: #1E90FF;
                padding-left: 10px;
            }
            button{
                outline: none;
                border: 0;
                font-size: 20px;
                cursor: pointer;
                color: #153B50;
                padding-left: 10px;
                background: transparent;
            }
        }
    }
    @media screen and (max-width: 480px) {
        .title{
            color:#d1d1d1;
        }
        .list_cont ul li a{
            color: #d1d1d1;
        }
    }
</style>