<template>
  <div class="weather_card">
    <div class="weather_cont">
      <p>
        <font-awesome-icon :icon="['fas', 'map-marker-alt']" size="1x" :style="{color: '#FFD700'}" />
        {{weather.city}},{{ weather.country }}
      </p>
      <div>
        <span class="temp">{{ weather.temp }}°</span>
        <img :src="'https://openweathermap.org/img/w/' + weather.img + '.png'" />
      </div>
      <ul>
        <li>
          <font-awesome-icon :icon="['fas', 'arrow-up']" size="1x" />
          <span class="min_max">{{ weather.max_temp }}°</span>
          <br />
          <font-awesome-icon :icon="['fas', 'arrow-down']" size="1x" />
          <span class="min_max">{{ weather.min_temp }}°</span>
        </li>
        <li>Pressure: {{ weather.pressure }}</li>
        <li>Wind Speed: {{ weather.windSpeed }} m/s</li>
      </ul>
      <button class="but" @click="addtoListItem(weather.city)">Add to list cities</button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from "vuex";
import { GEO_KEY } from '../constans'
import axios from "axios";
export default {
  data() {
    return {
      coords: {
        lat: 0,
        lon: 0
      }
    };
  },
  beforeMount() {
    this.geolocation();
  },
  mounted() {
    this.postWeather(localStorage.city);
  },
  computed: {
    ...mapGetters({
      weather: "weather"
    })
  },
  methods: {
    ...mapActions({
      addtoListItem: "addtoList",
      postWeather: "postWeather",
      getCoordsData: "getCoordsData"
    }),
    geolocation() {
      axios.get(`https://api.ipfind.com/?ip=188.163.99.172&auth=${GEO_KEY}`).then(response => {
        (this.coords.lat = response.data.latitude),
        (this.coords.lon = response.data.longitude);
        this.getCoordsData(this.coords);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.weather_card {
  width: 500px;
  border-radius: 4px;
  background: url(../assets/img/bg.png);
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  p {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    color: #d1d1d1;
  }
  ul {
    display: flex;
    padding: 0;
    width: 450px;
    justify-content: space-between;
    align-items: center;
    li {
      font-size: 16px;
      list-style: none;
      text-transform: uppercase;
      color: #d1d1d1;
      font-weight: 600;
    }
  }
}
.weather_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.temp {
  font-size: 60px;
  font-weight: 600;
  color: #d1d1d1;
}
.min_max {
  font-size: 16px;
}
.but {
  padding: 10px 10px;
  border: 1px solid #d1d1d1;
  text-transform: uppercase;
  outline: none;
  background-color: transparent;
  color: #d1d1d1;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 20px;
  &:hover {
    background-color: #d1d1d1;
    color: #1e90ff;
  }
}
@media screen and (max-width: 576px) {
  .weather_card {
    width: 400px;
    ul{
      width: 350px;
    }
  }
}
@media screen and (max-width: 480px) {
  .weather_card {
    width: 300px;
    background: none;
    ul{
      width: 270px;
      li{
        font-size: 13px;
      }
    }
  }
  .but {
    padding: 5px;
    font-size: 12px;
  }
}
</style>
