<template>
  <div id="app">
    <h1 class="title"><img src="./assets/logo.png">Vue Weather App</h1>
    <div class="main_cont">
      <AddCity></AddCity>
      <WeatherCard></WeatherCard>
      <City></City>
    </div>
  </div>
</template>

<script>
import AddCity from "./components/AddCity";
import WeatherCard from "./components/WeatherCard";
import City from "./components/City";

export default {
  name: 'App',
  components:{
    AddCity,
    WeatherCard,
    City
  },
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{
  font-family: 'Raleway', sans-serif;
}
.title{
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #153B50;
  img{
    height: 45px;
  }
}
.main_cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
@media screen and (max-width: 480px) {
  body{
    background: url(./assets/img/bg.png) no-repeat;
    background-position: center;
    background-size: cover; 
  }
  .title{
    color: #d1d1d1;
  }
}
</style>
